<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702507634085-26fugts3egargpq4khkmegs9t0ohihu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702507634085-26fugts3egargpq4khkmegs9t0ohihu8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKZPI6Hq-xdV4msE5JZTPHKs18bZBoCb0</string>
	<key>GCM_SENDER_ID</key>
	<string>702507634085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookLogin</string>
	<key>PROJECT_ID</key>
	<string>face-book-login-b3a70</string>
	<key>STORAGE_BUCKET</key>
	<string>face-book-login-b3a70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702507634085:ios:fb27588ada25b65af8ac4c</string>
</dict>
</plist>